<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}TITLE HERE{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/feedback.css">
</head>
<body>
{% block flash %}  
  {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
  {% endfor %}
{% endblock%}  

{% block content %}
    CONTENT HERE
{% endblock %}
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/static/feedback.js"></script>
</html>